body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 1050px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.patterns {
    display: flex;
    justify-content: center;
    position: relative;
}

.pattern {
    height: 650px;
    border-left: .2px solid #F5F5F5;
    margin: 0 115px;
}
