$portgore-color: #1f2154;
$rhino-color: #293259;
$white-color: #ffffff;
$mountain-meadow: #1fad96;
$jungle-green: #27ab94;
$silver-color: #bcbcbc;
$gray-color: #9da1aa;
$shady-color: #9b999b;
$dovegray-color: #6c6c6c;
$hintred-color: #f6f3f6;
$lightheavenly: #f5f7fa;
$anzac-color: #e2a957;
$mandy-color: #e25a6d;
$orange-color: #febc4d;